<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Blue</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/layouts/blue/blue.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/MVC.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Blue</h3>
            </div>
            <ul class="list-unstyled components">
                <li class="nav-item">
                    <a class="a-sidebar" asp-area="" asp-controller="Home" asp-action="Index"> Ana Sayfa</a>
                </li>
            </ul>
            <ul class="list-unstyled inner">
                <li class="nav-item">
                    <a class="a-sidebar" asp-area="" asp-controller="Home" asp-action="Privacy"> Gizlilik</a>
                </li>
            </ul>
        </nav>
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="#" id="sidebarCollapse" class="a-navbar" title="Soldaki Menüyü Kapat">
                            <i class="fa fa-list-alt"></i>
                            <span id="s-collapse"><b><</b></span> Menü
                        </a>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon navbar-span"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="a-navbar" asp-area="" asp-controller="Home" asp-action="Index"> Ana Sayfa</a>
                        </li>
                        <li class="nav-item">
                            <a class="a-navbar" asp-area="" asp-controller="Home" asp-action="Privacy"> Gizlilik</a>
                        </li>
                    </ul>
                    <div class="navbar-text">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                <a class="a-navbar" href=""> Kayıt</a>
                            </li>
                            <li class="nav-item">
                                <a class="a-navbar" href=""> Giriş</a>
                            </li>
                            <li class="nav-item">
                                <div class="div-navbar">
                                    <span class="s-navbar"> KullanıcıAdı</span>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="a-navbar" href=""> Çıkış</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="container">
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/layouts/blue/blue.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
